@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grayish: #acacac;
  --perimore: #f2968f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grayish: var(--grayish);
  --color-perimore: var(--perimore);
  --font-manrope: var(--font-base-manrope);
}

.sortingOptions::-webkit-scrollbar {
  display: none;
}

.sortingOptions {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
